<div
  class="view"
  style="background-color: darkslategray; background-size: cover; padding-bottom: 2%;"
>
  <div class="container">
    <div class="row justify-content-between ml-sm-0 ml-md-10">
      <div class="col-9 col-md-8"><app-logo></app-logo></div>
    </div>

    <div class="row justify-content-around">
      <div class="col-12 col-md-4"><app-signup></app-signup></div>
      <div class="col-12 col-md-4 mt-2"><app-signin></app-signin></div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
