<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
    crossorigin="anonymous"
  />
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"
  />
  <link rel="stylesheet" href="css/style.css" />
  <title>Landing Page</title>
</head>
<body>
  <!--Start here always--> 
  <div class="container">
    <header class="col-12">
      <center>
        <img
          height="20%"
          ;
          width="50%"
          ;
          src="./Web 1280 – 1.jpg"
          alt="logo"
        />
      </center>
    </header>
  </div>
  <div class="d-flex flex-row justify-content-around" style="padding-left: 20%">
    <textarea
      class="form-control d-flex z-depth- rounded-20 col-4 text-muted"
      rows="20"
      readonly="false"
	  id = "transcriptText"
    >
      </textarea
    >
    <textarea
      class="form-control d-flex z-depth- rounded-20 col-4 text-muted"
      rows="20"
      readonly="true"
      id = "summary">

     </textarea>
  </div>

  <br />
  <br />
  <div
    class="d-flex flex-row row-h1 justify-content-between"
    style="padding-left:30%; padding-right:65%;"
  >
    <button
      style="height:10%; background-color:darkslategrey; border-radius:50%;"
      class="form-control btn btn-dark item-h1 p-4 d-flex"
      type="submit"
	  id = "recordBtn"
	  onclick = "transcribe();"
    >
      <i class="fas fa-microphone"></i>
    </button>

    <button
      style=" height:10%; background-color:darkslategrey; border-radius:50%; margin-left:150px;"
      class="form-control btn btn-dark item-h1 p-4 d-flex"
      type="submit" onclick = "getKeywords();"
    >
      <i class="fas fa-upload"></i>
    </button>
  </div>

  <!--scripts-->
  <script
    src="http://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"
  ></script>

  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"
  ></script>
  <script>
	function transcribe(){
	window.SpeechRecognition = window.webkitSpeechRecognition || window.SpeechRecognition;
	//document.write("Done");
	if ('SpeechRecognition' in window) {
	  // speech recognition API supported
	  //document.write("speech recognition is supported");
	} else {
	  // speech recognition API not supported
	  //document.write("speech not supported");
	}
	let finalTranscript = '';
	const recognition = new window.webkitSpeechRecognition();
	recognition.interimResults = false;
	recognition.continuous = true;
	recognition.lang = "en-US"
	
	recognition.onresult = (event) => {
  let interimTranscript = '';
  let finalTranscript = '';
	  //const speechToText = event.results[0][0].transcript;
	  for (let i = event.resultIndex, len = event.results.length; i < len; i++) {
			let transcript = event.results[i][0].transcript;
			if (event.results[i].isFinal) {
        finalTranscript += transcript;
        //transcript = event.results[i][0].transcript;
			  //document.write(transcript)
			  //var tarea = document.getElementById("transcriptText")
				//tarea.innerHTML = tarea.innerHTML + transcript 
			  
			 } else {
			   interimTranscript += transcript;
       }
       transcriptText.innerHTML +=finalTranscript;
       //interim_span.innerHTML = linebreak(interim_transcript);
		  }
	  //document.write(finalTranscript);
	  finalTranscript = ""
	}
	recognition.start();
	recognition.onaudioend = function(){
      //document.write("\n Speech ended.")
      console.log('Audio ended');
      getKeywords();
		}
  }
  

  function getKeywords(){
    var xmlhttp = new XMLHttpRequest();
		var contentDiv = document.getElementById("summary");
    var question = document.getElementById('transcriptText').innerHTML
		xmlhttp.open("GET", "/keywords?trans="+question, true);
		xmlhttp.onreadystatechange = function() {
			if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
				contentDiv.innerHTML += xmlhttp.responseText;
			}
		}
		xmlhttp.send(null);
  }
  </script>
</body>