<html>
  <head>
    <!-- <link rel="stylesheet" href="file://./navigation.component.css" /> -->
    <!-- <link rel="stylesheet" href="file://./navigation.component.styl" /> -->
    <link rel="stylesheet" href="file://src/app/navigation/navigation.component.css">
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
      integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
      crossorigin="anonymous"
    />
  </head>
  <body style="width:10%">
    <!--full screen div-->
    <div class="FlexBlack">
      <!--holds nav bar div-->
      <div class="flexLblue LblueOne">
        <!--nav bar div-->
        <div class="flexRedF" id="navigation">
          <!--holds bar icon-->
          <div class="BarDiv">
            <a href="#" onclick="Togglslidemenu()">
              <i class="fas fa-bars fa-3x"> </i>
            </a>
          </div>
          <!--end bar icon-->
          <!--holds all four menu items-->
          <div class="flexgroup" style="position:absolute">
            <!--menu item Profile-->
            <div class="flexGreen" style="position:relative">
              <a
                class="aa"
                id="p"
                href="#"
                onmouseover="Ptoggle()"
                onmouseout="closeL()"
              >
                <i class="fas fa-user-alt fa-3x"> </i
                ><span class="navItems" style="padding-right:32px;"
                  >Profile</span
                >
              </a>
            </div>
            <!--menu item Domain-->
            <div class="flexGreen">
              <a
                class="aa" id="d"
                href="#"
                onmouseover="Dtoggle()"
                onmouseout="closeLD()"
              >
                <i class="fas fa-th-large fa-3x"> </i
                ><span class="navItems" style="padding-right:17px;"
                  >Domain</span
                >
              </a>
            </div>
            <!--menu item History-->
            <div class="flexGreen">
              <a
                class="aa"
                id="h"
                href="#"
                onmouseover="Htoggle()"
                onmouseout="closeLH()"
              >
                <i class="fas fa-clock fa-3x"> </i
                ><span class="navItems" style="padding-right:23px;"
                  >History</span
                >
              </a>
            </div>
            <!--menu item Settings-->
            <div class="flexGreen">
              <a
                class="aa"
                id="s"
                href="#"
                onmouseover="Stoggle()"
                onmouseout="closeLS()"
              >
                <i class="fas fa-cog fa-3x"></i
                ><span class="navItems" style="padding-right:17px;"
                  >Settings</span
                >
              </a>
            </div>
          </div>
          <!---end of div holding four menu items-->
        </div>
        <!--end of nav bar div-->
      </div>
      <!--end of div holding nav bar-->

      <!--mid screen div have 2 partitions-->
      <!-- <div class="flexLblue LblueTwo"> -->
        <!--logo div-->
        <!-- <div class="flexRed"> -->
          <!-- <img src="./assets/LogoD.jpg" class="img-fluid z-depth-1" /> -->
        <!-- </div> -->
        <!--div holding transcription, buttons and summary divs-->
        <!-- <div class="flexRed" style="height:100%;"> -->
          <!--div holding transcription and summary divs-->
          <!-- <div -->
            <!-- class="flexLGreen" -->
            <!-- style="margin:5px;height:80%; justify-content: space-around;" -->
          <!-- > -->
            <!--transcription div-->
            <!-- <div class="flexDblue" style="width:50%;"></div> -->
            <!-- div holding title & summary divs -->
            <!-- <div class="flexDblue" style="width:50%;"> -->
              <!--title div-->
              <!-- <div class="flexPink" style="height:15%;">huuuu</div> -->
            <!-- <br><br> -->
              <!--summary div-->
              <!-- <div class="flexPink" style="height:80%;">guygu</div> -->
            <!-- </div> -->
            <!--end of div holding title & summary-->
          <!-- </div> -->
          <!--end of div holding transcription & summary divs -->
          <!--div holding buttons-->
          <!-- <div -->
            <!-- class="flexLGreen" -->
            <!-- style="padding:10px; margin:5px; height:20%; justify-self: flex-end;" -->
          <!-- > -->
            <!--record button-->
            <!-- <div class="flexDblue" style="width:100px;"></div> -->
            <!--stop button-->
            <!-- <div class="flexDblue" style="width:100px;"></div> -->
            <!--upload button-->
            <!-- <div class="flexDblue" style="width:100px;"></div> -->
          <!-- </div> -->
          <!--end of buttons div-->
        <!-- </div> -->
        <!--end of div holding transcription, buttons & summary divs -->
      <!-- </div> -->
      <!--end of mid screen div-->

      <!--side div for logout-->
      <div class="flexLblue Lbluethree" style="padding:10px; margin:5px;"></div>
    </div>
    <!--end of full screen div-->

    <!--hidden div here Profile-->
    <div id="FlexSgreen" onmouseover="stay()" onmouseout="closeL()">
      <div class="ProfileFlex">
        <div class="imageFlex">
          <i
            class="fas fa-user-alt fa-5x"
            style="color:white; margin-left:100px; padding-right:12px;"
          ></i>
        </div>
        <div class="formFlex">
          <p>
            <span id="category">User Name<i style="color:rgb(130, 151, 151); margin-left:10px;" class="fas fa-pencil-alt"></i
              ></span
            ><span id="data"
              >Harry Potter&nbsp;&nbsp;</span>
          </p>
        <br>
          <p>
            <span id="category">Password<i style="color:rgb(130, 151, 151); margin-left:10px;" class="fas fa-pencil-alt"></i
              ></span
            ><span id="data"
              >*********&nbsp;&nbsp;</span>
          </p>
        </div>
      </div>
    </div>

    <!--hidden div here Domain-->
    <div id="FlexSgreenD" onmouseover="stayD()" onmouseout="closeLD()">
       <div class="heading">
         <p id=data style="margin-top:1px; text-align:center;">Select a Domain</p>
       </div>
       <div class="scrollable" style="overflow-y: scroll;">
        <span class="domainName">domain 1</span>
        <span class="domainName">domain 1</span>
        <span class="domainName">domain 1</span>
        <span class="domainName">domain 1</span>
        <span class="domainName">domain 1</span>
        <span class="domainName">domain 1</span>
        <span class="domainName">domain 1</span>
        <span class="domainName">domain 1</span>
        <span class="domainName">domain 1</span>
        <span class="domainName">domain 1</span>
        <span class="domainName">domain 1</span>
       </div>
       <div class="addDomain">
         <p id="Udomain">Upload New Domain&nbsp;&nbsp;&nbsp;&nbsp;<button style="background: transparent; border: transparent;"><i id="uploadButtonIcon" class="fas fa-upload fa-2x">&nbsp;&nbsp;Select</i></button></p>
       </div>
    </div>

    <!--hidden div here History-->
    <div id="FlexSgreenH" onmouseover="stayH()" onmouseout="closeLH()">
      <div class="heading">
        <p id=data style="margin-top:1px; text-align:center;">Your Transcripts</p>
      </div>
      <div class="Dbody" style="overflow-y: scroll;">
        <!--one-->
        <div class="item">
          <div class="right">
            <div class="filename">
                <span id="data"
                >Meeting One</span>
            </div>
            <div class="keywords">
                <span id="words">word1, word2, word3</span>
            </div>
          </div>
          <div class="left">
            <div class="fileLink">
                <span id="category">
                  <i style="color:rgb(130, 151, 151); margin-left:5px;" class="fas fa-file fa"></i
                  >
                  <a id="Flink" href="#">Meeting1.txt</a>
                </span>
            </div>
            <div class="sentiment">
                <span id="words">Positive</span>
            </div>
          </div>
        </div>
        <!--two-->
        <div class="item">
            <div class="right">
              <div class="filename">
                  <span id="data"
                  >Meeting One</span>
              </div>
              <div class="keywords">
                  <span id="words">word1, word2, word3</span>
              </div>
            </div>
            <div class="left">
              <div class="fileLink">
                  <span id="category">
                    <i style="color:rgb(130, 151, 151); margin-left:10px;" class="fas fa-file"></i
                    >
                    <a id="Flink" href="#">Meeting1.txt</a>
                  </span>
              </div>
              <div class="sentiment">
                  <span id="words">Positive</span>
              </div>
            </div>
          </div>
          <!--three-->
          <div class="item">
              <div class="right">
                <div class="filename">
                    <span id="data"
                    >Meeting One</span>
                </div>
                <div class="keywords">
                    <span id="words">word1, word2, word3</span>
                </div>
              </div>
              <div class="left">
                <div class="fileLink">
                    <span id="category">
                      <i style="color:rgb(130, 151, 151); margin-left:10px;" class="fas fa-file"></i
                      >
                      <a id="Flink" href="#">Meeting1.txt</a>
                    </span>
                </div>
                <div class="sentiment">
                    <span id="words">Positive</span>
                </div>
              </div>
            </div>
            <!--four-->
            <div class="item">
                <div class="right">
                  <div class="filename">
                      <span id="data"
                      >Meeting One</span>
                  </div>
                  <div class="keywords">
                      <span id="words">word1, word2, word3</span>
                  </div>
                </div>
                <div class="left">
                  <div class="fileLink">
                      <span id="category">
                        <i style="color:rgb(130, 151, 151); margin-left:10px;" class="fas fa-file"></i
                        >
                        <a id="Flink" href="#">Meeting1.txt</a>
                      </span>
                  </div>
                  <div class="sentiment">
                      <span id="words">Positive</span>
                  </div>
                </div>
              </div>
              <!--five-->
              <div class="item">
                  <div class="right">
                    <div class="filename">
                        <span id="data"
                        >Meeting One</span>
                    </div>
                    <div class="keywords">
                        <span id="words">word1, word2, word3</span>
                    </div>
                  </div>
                  <div class="left">
                    <div class="fileLink">
                        <span id="category">
                          <i style="color:rgb(130, 151, 151); margin-left:10px;" class="fas fa-file"></i
                          >
                          <a id="Flink" href="#">Meeting1.txt</a>
                        </span>
                    </div>
                    <div class="sentiment">
                        <span id="words">Positive</span>
                    </div>
                  </div>
                </div>
                <!--five-->
                <div class="item">
                    <div class="right">
                      <div class="filename">
                          <span id="data"
                          >Meeting One</span>
                      </div>
                      <div class="keywords">
                          <span id="words">word1, word2, word3</span>
                      </div>
                    </div>
                    <div class="left">
                      <div class="fileLink">
                          <span id="category">
                            <i style="color:rgb(130, 151, 151); margin-left:10px;" class="fas fa-file"></i
                            >
                            <a id="Flink" href="#">Meeting1.txt</a>
                          </span>
                      </div>
                      <div class="sentiment">
                          <span id="words">Positive</span>
                      </div>
                    </div>
                  </div>
                  <!--six-->
                  <div class="item">
                      <div class="right">
                        <div class="filename">
                            <span id="data"
                            >Meeting One</span>
                        </div>
                        <div class="keywords">
                            <span id="words">word1, word2, word3</span>
                        </div>
                      </div>
                      <div class="left">
                        <div class="fileLink">
                            <span id="category">
                              <i style="color:rgb(130, 151, 151); margin-left:10px;" class="fas fa-file"></i
                              >
                              <a id="Flink" href="#">Meeting1.txt</a>
                            </span>
                        </div>
                        <div class="sentiment">
                            <span id="words">Positive</span>
                        </div>
                      </div>
                    </div>
                <!--end-->
                <div class="last">
                  &nbsp;
                </div>
      </div>
    </div>

    
    <!--hidden div here Settings-->
    <div id="FlexSgreenS" onmouseover="stayS()" onmouseout="closeLS()">
      <div class="heading">
          <p id=data style="margin-top:1px; text-align:center;">Settings</p>
      </div>
      <div class="Sbody">
        <div class="autos">
            <span id="data" style="font-family: Candara;"
            >Auto save </span>
            <span style="margin-left: 130px;">
            <input type="checkbox" id="unchecked" class="cbx hidden"/>
            <label for="unchecked" class="lbl"></label>
          </span>
        </div>
        <div class="storage" style="margin-top:30px;">
            <span id="data" style="font-family: Candara;"
            >Storage </span>
            <span style="margin-left:130px;">
             <a href="#"><i class="fas fa-cloud-upload-alt fa-x" style="margin-left:20px; color:rgb(113, 141, 141);">&nbsp;UBbox</i></a>
            </span>
        </div>
      </div>
    </div>

  </body>

  <!--scripts-->
  <!-- <script>
    var state = 'closed';
    function Togglslidemenu() {
      if (state == 'closed') {
        document.getElementById('navigation').style.width = '200px';
        state = 'open';
        var a = document.getElementsByClassName('navItems');
        var i;
        for (i = 0; i < a.length; i++) {
          a[i].style.display = 'inline';
        }
      } else {
        document.getElementById('navigation').style.width = '85px';
        state = 'closed';
        var a = document.getElementsByClassName('navItems');
        var i;
        for (i = 0; i < a.length; i++) {
          a[i].style.display = 'none';
        }
      }
    }
    /* Profile functions */
   function Ptoggle() {
      state = 'closed';
      console.log('Hovering over PROFILE');
      Togglslidemenu();
      document.getElementById('FlexSgreen').style.visibility = 'visible';
   }

   function stay(){
    state = 'closed';
      Ptoggle();
      document.getElementById('FlexSgreen').style.visibility = 'visible';
      document.getElementById('p').style.backgroundColor="rgb(41, 68, 68)";
          
   }
    function closeL() {
      document.getElementById('FlexSgreen').style.visibility = 'hidden';
    }

    /* Domain functions */
    function Dtoggle() {
      state = 'closed';
      Togglslidemenu();
      document.getElementById('FlexSgreenD').style.visibility = 'visible';
    }
    function closeLD() {
      document.getElementById('FlexSgreenD').style.visibility = 'hidden';
    }
    function stayD(){
    state = 'closed';
      Dtoggle();
      document.getElementById('FlexSgreenD').style.visibility = 'visible';
      document.getElementById('d').style.backgroundColor="rgb(41, 68, 68)";
          
   }
   /* History functions */
   function Htoggle() {
      state = 'closed';
      Togglslidemenu();
      document.getElementById('FlexSgreenH').style.visibility = 'visible';
    }
    function closeLH() {
      document.getElementById('FlexSgreenH').style.visibility = 'hidden';
    }
    function stayH(){
    state = 'closed';
      Htoggle();
      document.getElementById('FlexSgreenH').style.visibility = 'visible';
      document.getElementById('h').style.backgroundColor="rgb(41, 68, 68)";
          
   }

    /* Settings functions */
    function Stoggle() {
      state = 'closed';
      Togglslidemenu();
      document.getElementById('FlexSgreenS').style.visibility = 'visible';
    }
    function closeLS() {
      document.getElementById('FlexSgreenS').style.visibility = 'hidden';
    }
    function stayS(){
    state = 'closed';
      Stoggle();
      document.getElementById('FlexSgreenS').style.visibility = 'visible';
      document.getElementById('s').style.backgroundColor="rgb(41, 68, 68)";
          
   }


  </script> -->
</html>

<!--
  <a routerLink="./first">First page</a>
  <a routerLink="./second">Second page</a>

    <router-outlet></router-outlet>
-->
