
.flexBlack{
    position: absolute;
    background-color:white;
     height:100%;
     z-index: 0;
    display: flex;
}
.flexLblue{
    display: flex;
    flex-direction:column;
    background-color:white;
    width:300px;

}
.flexRedF{
    display: flex;
    flex-direction: column;
    background-color:darkslategray; 
    width:85px; 
    height:100%;
    border-top-right-radius: 5px; 
    border-bottom-right-radius: 5px;   
}
.BarDiv{
    margin-left:25px; 
    margin-top: 10px;
}
i{
    color:floralwhite;
}

.flexgroup{
    margin-top:200px;
    display:flex;
    flex-direction: column;
}
.flexGreen{
    display: flex;
    margin-top: 35px;
    background-color:darkslategray;
    
}
.flexGreen i{
    margin-left:25px;
    padding-right:12px;
}
.navItems{
    color:white;
    font-size:30;
    display: none;
}
.LblueTwo{
    margin-left:10px;
    background-color: aqua;
    width:800px;
}
.flexRed{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    background-color:red;
    margin:5px;
}
flexRed img{
    border-radius:10px;
    margin-top:20px;
    margin-left:10px;
    margin-right:10px;
    margin-bottom:10px;
}
.flexLGreen{
    display:flex;
    background-color:lightgreen;
}
.flexDblue{
    display: flex;
    flex-direction: column;
    background-color:blue;
    margin:5px;
}
.flexPink{
    display: flex;
    background-color: pink;
}
/*Profile*/
#flexSgreen{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 225px 300px 300px 201px;
    padding : 30px;
    width: 300px;
    height: 340px;
    background-color:rgb(41, 68, 68);
    visibility: hidden;
    z-index: 1;
  } 
  .ProfileFlex{
    display:flex;
    flex-direction: column;
}
.imageFlex{
    display:flex;
}
.formFlex{
    display:flex;
    font-family:Candara;
    flex-direction: column;
}

p span{
    display: block;
   }
#category{
    color: rgb(90, 107, 107);
    font-size: 20px;
    font-style: italic;
}
#data{
    color: rgb(109, 129, 129);
    font-size:20px;
    font-style: bold;
    
}
/*Domain*/
#FlexSgreenD{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 225px 300px 300px 199px;
    padding : 30px;
    width: 300px;
    height: 340px;
    background-color:rgb(41, 68, 68);
    visibility: hidden;
    z-index: 1;
    display: flex;
    flex-direction: column;

}
.domainName{
    background-color:rgb(24, 43, 43);
    color: white;
    font-size: 23px;
    color: #6e8181;
    font-style: italic;
    margin-bottom: 5px;
    margin-right: 20px;
}
.scrollable{
    display: flex;
    flex-direction: column;
    color: rgb(109, 129, 129);
}

#Udomain{
    font-size: 17px;
    font-family:Candara;
    color: rgb(109, 129, 129);
}

#uploadButtonIcon{
    background-color:transparent;
    color:rgb(109, 129, 129);
    
}


/*History*/
#FlexSgreenH{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 225px 300px 300px 199px;
    padding : 30px;
    width: 300px;
    height: 340px;
    background-color:rgb(41, 68, 68);
    visibility: hidden;
    z-index: 1;

}
.Dbody{
    display: flex;
    flex-direction: column;
  
    height: 240px;
   

}
.item{
    display: flex;
    margin-bottom: 15px;
  
}
.right{
    display: flex;
    flex-direction: column;
}
.left{
    display: flex; 
    flex-direction: column;  
}
#words{
    color: rgb(90, 107, 107);
    font-size: 12px;
    font-style: italic;
    text-align: right;
}
.fileLink{
    margin-left:20px;
}
#FLink{
    color: rgb(90, 107, 107);  
    text-decoration: underline;
    margin-left:1px;
    font-size:18px;

}
.sentiment{
    margin-left:30px;
}
.filename{
    text-align: right;
}

/*Settings*/
#FlexSgreenS{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 225px 300px 300px 199px;
    padding : 20px;
    width: 300px;
    height: 340px;
    background-color:rgb(41, 68, 68);
    visibility: hidden;
    z-index: 1;

}
   .autos{
        display:flex;
    }


/*Hidden Pop-ups here */

/*error toast*/

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color:rgb(43, 71, 71); /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 20px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 100px; /* 30px from the bottom */
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 100px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 100px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 100px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 100px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

/*Recording popup*/
#PopUpRecording{
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color:rgb(43, 71, 71);
    color: #fff;
    text-align: center;
    border-radius: 20px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 100px;
}
#PopUpRecording.show{
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
/*Recording ends popup*/
#PopUpRecordingE{
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color:rgb(43, 71, 71);
    color: #fff;
    text-align: center;
    border-radius: 20px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 100px;
}
#PopUpRecordingE.show{
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}



/*Domain Form*/
#DomainForm{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 225px 300px 300px 550px;
    padding :5px;
    width: 300px;
    height: 340px;
    background-color:rgb(63, 94, 94);
    visibility: hidden;
    z-index: 1;
    display:flex;
    flex-direction: column;

}
.Cross{
    display:flex; 
    flex-direction: row;
    align-self: flex-end;
}
.TitleCross{
    display:flex;
    flex-direction: row;
    padding:0px;
}
.DomainTitle{
    display: flex;
    
}
#titleError{
    position: absolute;
    visibility: hidden;
    color: red;
}
#keywordEmpty{
    position: absolute;
    visibility: hidden;
    color: red;
}
.KeywordsSection{
    margin-top: 9px;
}
#newDName{
    margin-top:15px;
    width: 290px;
    border: none;
    border-radius: 5px;
    background-color:#dcdfe5;
}
.SaveSection{
    display: flex;
    flex-direction:column;
}

#closeFbutton{
    padding-right:0px;
    border:none;
    background-color:transparent;
    margin-right: 0px;
}
.SaveButtonSection{
    margin-top: 30px;
    border-radius: 5px;
    font-style: bold;
}

/*change passwrd form*/

#changePassForm{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 225px 300px 300px 550px;
    padding :5px;
    width: 300px;
    height: 340px;
    background-color:rgb(63, 94, 94);
    visibility: hidden;
    z-index: 1;
    display:flex;
    flex-direction: column;

}

#PasswordError{
    position: absolute;
    visibility: hidden;
    color: red;
}

#oldPass{
    margin-top:15px;
    width: 290px;
    border: none;
    border-radius: 5px;
    background-color:#dcdfe5;
}
#newPass{
    margin-top:15px;
    width: 290px;
    border: none;
    border-radius: 5px;
    background-color:#dcdfe5;
}

/*savePopup*/
#saveForm{

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 225px 300px 300px 550px;
    padding :5px;
    width: 300px;
    height: 340px;
    background-color:rgb(63, 94, 94);
    visibility: hidden;
    z-index: 1;
    display:flex;
    flex-direction: column;


}



/*Display transcription pop up*/
#displayForm1{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 100px 100px 100px 200px;
    padding :5px;
    width: 940px;
    height: 640px;
    background-color:rgb(63, 94, 94);
    visibility: hidden;
    z-index: 1;
    display:flex;
    flex-direction: column;

}

/*askTitleForm */

#askTitleForm{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 100px 100px 100px 200px;
    padding :5px;
    width: 940px;
    height: 640px;
    background-color:rgb(63, 94, 94);
    visibility: hidden;
    z-index: 1;
    display:flex;
    flex-direction: column;
}


/*functions and changes*/

a.aa:hover{
    background-color:rgb(41, 68, 68);
}

a:link {
    text-decoration: none;
  }


  
 
