<div class="card card-cascade narrower">
  <div
    class="view view-cascade overlay white-text text-center py-4"
    style="background-color: #7b9492;"
  >
    <h5>
      <strong>Sign up</strong>
    </h5>
  </div>

  <!--Card content-->
  <div class="card-body card-body-cascade rounded-top px-lg-5 pt-0">
    <!-- Form -->
    <form class="text-center" style="color: #757575;">
      <div class="form-row">
        <div class="col">
          <!-- E-mail -->
          <div class="md-form">
            <input
              type="email"
              id="materialRegisterFormEmail"
              class="form-control"
              mdbInput
            />
            <label for="materialRegisterFormEmail" style="color: teal;"
              >Name</label
            >
          </div>
          <!-- First name -->
          <div class="md-form  mt-0">
            <input
              type="text"
              id="materialRegisterFormFirstName"
              class="form-control"
              mdbInput
            />
            <label for="materialRegisterFormFirstName" style="color: teal;"
              >User name</label
            >
          </div>
        </div>
      </div>

      <!-- Password -->
      <div class="md-form mt-0">
        <input
          type="password"
          id="materialRegisterFormPassword"
          class="form-control"
          aria-describedby="materialRegisterFormPasswordHelpBlock"
          mdbInput
        />
        <label for="materialRegisterFormPassword" style="color: teal;"
          >Password</label
        >
      </div>
      <div class="md-form mt-0">
        <input
          type="password"
          id="materialRegisterFormCPassword"
          class="form-control"
          aria-describedby="materialRegisterFormCPasswordHelpBlock"
          mdbInput
        />
        <label for="materialRegisterFormCPassword" style="color: teal;"
          >Confirm Password</label
        >
      </div>

      <!-- Sign up button -->
      <button
        mdbBtn
        color="default"
        outline="true"
        rounded="true"
        block="true"
        class="my-4 waves-effect z-depth-0"
        mdbWavesEffect
        type="submit"
      >
        Sign up
      </button>
    </form>
    <!-- Form -->
  </div>
</div>
